@use "../abstracts/abstracts-dir" as *;

.badge {
  font-weight: 600;
  font-size: 2rem;
  display: inline-block;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}
.badge--small{
   font-size: 1.6rem;
}
@include respond-to('large'){
   .badge{
      font-size: 1.5rem;
   }
   .badge--small{
      font-size: 1.2rem;
   }
}
.badge--primary {
  @include dynamicColor($secondaryColor);
}
.badge--secondary {
  @include dynamicColor (scale-color($assetColor_2,$blackness: 20% ));
}
