@use "../abstracts/abstracts-dir" as *;

body {
  @include font($inter);
  font-size: $mobileBody;
  line-height: 1.5;
}

@include respond-to("large") {
  body {
    font-size: $desktopBody;
  }
}

h1,
h2,
h3 {
  margin: 0;
  margin-bottom: 1rem;
  color: $primaryColor;
}
//adding sizes to headings
@each $name, $size in $mobileHeadings {
  #{$name} {
    font-size: $size;
  }
}
@include respond-to("large") {
  @each $name, $size in $desktopHeadings {
    #{$name} {
      font-size: $size;
    }
  }
}
