/*****font-family*****/
$primaryFont: "Inter", Arial, Helvetica, sans-serif;
$secondaryFont: "Montserrat", Arial, Helvetica, sans-serif;

/*****font size variables*****/
$mobileHeadings: (
  "h1": 7rem,
  "h2": 4rem,
  "h3": 3rem,
);
$desktopHeadings: (
  "h1": 8rem,
  "h2": 4rem,
  "h3": 2.4rem,
);
$mobileBody: 2.4rem;
$desktopBody: 1.8rem;