$primaryColor: #1b0760;
$secondaryColor: #00d9ff;

$assetColor_1: #ff3400;
$assetColor_2: #2584ff;
//icon container and box shadow
$assetColor_3: #e6e6e6;

$bodyColor: #aeabbc;
$quoteColor: #5c5577;
$placeholder: #cbcdd7;
$shadow: #ccc;