//font-family
$inter: "Inter", Arial, Helvetica, sans-serif;
$montserrat: "Montserrat", Arial, Helvetica, sans-serif;

//font sizes
$mobileHeadings: (
  "h1": 7rem,
  "h2": 4rem,
  "h3": 3rem,
);
$desktopHeadings: (
  "h1": 8rem,
  "h2": 4rem,
  "h3": 2.4rem,
);
$mobileBody: 2.4rem;
$desktopBody: 1.8rem;